* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Common clasess*/

#mobile-menu {
    display: none;
}

.clear {
    clear: both;
}

.common-h5 {
    color: #3b3663;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 7px;
}

.common-h2 {
    color: #3b3663;
    font-size: 30px;
    line-height: 38px;

}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1330px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    font-family: 'Rubik';
    font-weight: 400;
}

.active {
    color: #fe5000 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito';
    font-weight: 800;
}

p {
    font-family: 'Rubik';
    font-weight: 400;
}

#arrow {
    position: relative;
    z-index: 9999;
  }

#arrow i {
    position: fixed;
    bottom: 20px;
    right: 25px;
    cursor: pointer;
    background-color: #fe5000;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
}


/* header*/

.fixed-header {
    position: fixed;
    width: 100%;
    z-index: 99;
    left: 0;
    top: 0;
    background-color: #fff;
    box-shadow: 10px 10px 20px #fff;
}

header {
    z-index: 1;
    position: relative;
    padding-top: 20px;
}

.nav-col {
    float: left;
    width: 75%;
}


.cnt-info-col {
    float: right;
    text-align: right;
    width: 25%;
}


.logo {
    float: left;
    width: 30%;
}

.logofooter {
    width: 50%;
    margin-bottom: 30px;
    vertical-align: middle;

}

.menu {
    float: right;
    width: 70%;
}

.logo img {
    width: 180px;
}

.menu a {
    text-decoration: none;
    padding: 22px;
    display: inline-block;
    color: #4d4d4d;
    transition: all 0.5s ease;
}

.menu a:hover {
    color: #fe5000;
}

.cnt-info-col a {
    color: #4d4d4d;
    text-decoration: none;
    margin-top: 23px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.5s ease;
}

.cnt-info-col a:hover {
    color: #f47514;
}

section.header-bg-parent {
    position: relative;
    top: -83px;

}

.header-col1 {
    float: left;
    width: 35%;
    position: absolute;
    top: 30%;
    left: 30%;
}

.header-col2 {
    float: right;
    background-image: url(../images/prop52.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}


.header-col1 h5 {
    color: #3b3663;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}

.header-col1 h2 {
    color: #3b3663;
    font-size: 60px;
}

.header-col1 h2 {
    color: #3b3663;
    font-size: 60px;
    line-height: 43px;
    margin: 21px 0px 15px;
}

.header-col1 p {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0px 0px;
}

button.common-btn {
    background: linear-gradient(90deg, #8b81ef, #6759e8);
    padding: 15px 30px;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-family: "Nunito";
    font-weight: 800;
    cursor: pointer;
    margin: 20px 0px;
    transition: all 0.5s ease;
}

button.common-btn:hover {
    background: linear-gradient(180deg, #6759e8, #8b81ef);
}

section.header-bg-parent:after {
    content: "SEO";
    position: absolute;
    color: #fafbfc;
    top: 250px;
    left: -140px;
    font-size: 230px;
    transform: rotate(-90deg);
    font-family: "Rubik";
    font-weight: 800;
    letter-spacing: 5px;
    z-index: -1;
}

.hedaer-bg-par-img {
    position: absolute;
    bottom: -110px;
}


/*featuer par*/

.faeture-col-par {
    background-color: #fcfcfc;
    padding: 80px 0px;
    margin-top: 40px;
}

.feature-col {
    background-color: #fff;
    padding: 30px;
    width: 23%;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
    box-shadow: 2px 2px 10px #fefefe;
    border-radius: 13px;
    transition: all 0.5s ease;
    height: 265px;
}

.feature-col:hover {
    background-color: #3b3663;
}

.feature-col:hover h3 {
    color: #fff;
}

.feature-col:hover h4 {
    color: #fff;
}

.feature-col h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 600;
}


.feature-col img {
    width: 80px;
    height: 80px;
    margin: 30px 0px;
}

.feature-col h4 {
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    color: #4d4d4d;
    margin-bottom: 20px;
}

/*why choose us */

.why-choose-col {
    float: left;
    width: 100%;
    padding-top: 5px;
}


.count-col {
    float: right;
    width: 50%;
}

.stat {
    float: left;
    width: 30%;
}

.stat-info-par {
    float: right;
    width: 70%;
}


.why-choose-col p {
    color: #696687;
    font-size: 16px;
    line-height: 28px;
    font-family: "Rubik";
    font-weight: 400;
    padding: 13px 100px 0px 0px;
}

.milestone-counter {
    margin: 25px;
}

.highlight {
    color: #3b3663;
    padding-top: 20px;
    font-family: "Nunito";
    font-weight: 800;
    font-size: 56px;
    overflow: hidden;
    display: block;
    position: relative;
}

.highlight:after {
    content: "+";
    color: #f47a14;
    position: absolute;
    top: 10px;
    right: 29px;
    font-size: 30px;
}


.stat-info-div p {
    color: #3B3663;
    font-size: 16px;
    font-weight: 400;
    font-family: "Rubik";
    padding: 20px 0px;
}

.stat-info-sub-par {
    margin: 50px 0px 40px;
}

.stat-info-div {
    position: relative;
}

.stat-info-div:before {
    content: "s";
    border-left: 1px solid #ddd;
    position: absolute;
    height: 85px;
    font-size: 0;
    left: -14px;
}

section#why-choose-us {
    margin-top: 10px;
}

/*progress bar */


.circle {
    width: 200px;
    margin: 6px 6px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
}

.circle canvas {
    vertical-align: top;
    width: 120px !important;
}

.circle strong {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    color: black;
}

.circle strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
}

.circle span {
    display: block;
    color: #aaa;
    margin-top: 12px;
}

.progress-bar-col {
    float: left;
    width: 30%;
}

.progress-info-col {
    float: right;
    width: 70%;
}

.expand-img-col {
    float: left;
    width: 50%;
    margin-top: 50px;
}

.expand-img-info-col {
    float: right;
    width: 50%;
    margin-top: 100px;
}

.expand-img {
    position: relative;
}

.expand-img-info {
    position: absolute;
    top: 130px;
    left: 180px;
    color: #ffff;
}

.expand-img-info i {
    font-size: 70px;
    padding-bottom: 20px;
}

.expand-img-info h2 {
    font-size: 46px;
    font-weight: 800;
    font-family: "Nunito";
    line-height: 60px;
}

.expand-img-info a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding-top: 25px;
    display: inline-block;
}

.expand-img-info i.fa.fa-long-arrow-right {
    font-size: 17px;
}

.progress-info h3 {
    color: #f47a14;
    font-family: "Nunito";
    font-weight: 600;
}

.progress-info p {
    color: #696687;
    font-size: 16px;
    font-family: "Rubik";
    line-height: 24px;
    padding-top: 10px;
}

.progress-info {
    margin: 30px 0px 60px;
}

section#expand {
    margin: 70px 0px;
}

section#advantages-of-RPA {
    margin: 80px 0px;

}


/*faq*/

section#faqs {
    margin-top: 120px;
    margin-bottom: 100px;
}

.faq-que-col {
    float: left;
    width: 47%;
    margin-left: 24px;
}

.faq-bg-col {
    float: right;
    width: 50%;
    margin-top: 4%;
}

.ui-accordion-header-active {
    background-image: linear-gradient(20deg, #fe5000 0%, #fe5000 57%) !important;
    border: none !important;
}

.ui-accordion-header-active:focus {
    outline: none;
    border: none;
}

div#faq-accordion p {
    color: #696687;
    font-size: 15px;
    font-weight: 400;
    font-family: "Rubik";
    line-height: 25px;
}

.faq-img-par {
    position: relative;
}

/* .faq-img-info {
    position: absolute;
    top: 80px;
    left: 380px;
    color: #fff;
}

.faq-img-info a {
    color: #fff;
    text-decoration: none;
    padding-top: 20px;
    display: inline-block;
}

.faq-img-info h2 {
    font-size: 40px;
    font-family: "Nunito";
    font-weight: 800;
    line-height: 55px;
}

.faq-img-info .fa-lightbulb-o {
    font-size: 70px;
    padding-bottom: 20px;
}

.faq-img-info p {
    font-size: 18px;
    font-family: "Rubik";
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 25px;
} */

div#faq-accordion h3 {
    margin-top: 5px;
}

div#faq-accordion {
    margin-top: 35px;
}

.owl-img-par {
    position: relative;
    overflow: hidden;
}

.owl-img-info {
    position: absolute;
    bottom: 20px;
    color: #fff;
    left: 25px;
}

.owl-img-par img {
    filter: brightness(0.8);
    transition: all 0.5s ease;
}

.owl-img-par img:hover {
    transform: scale(1.1, 1.1);
}

section#projects {
    position: relative;
    margin-top: 50px;
}

.owl-carousel.owl-theme.owl-loaded.owl-drag {
    margin-top: 30px;
}

#project:before {
    content: url(../images/portfolio/portfolio-color-bg.png);
    position: absolute;
    top: -8%;
    left: 7%;
}

/*price table*/

section#advantages-of-RPA {
    background-color: #fcfcfc;
    margin-top: 100px;
    width: 100%;

}

.advan {
    float: none;
    margin-left: 14%;
    width: 70%;
    padding-top: 5px;
    color: #696687;
    font-size: 15px;
    font-weight: 400;
    font-family: "Rubik";
    line-height: 25px;
}


#price-table {
    background-color: #fcfcfc;
    padding: 100px 120px;
    margin-top: 80px;
}

.basic-price-col {
    float: left;
    width: 30%;
    background-color: #fff;
    margin-left: 3%;
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    margin-top: 40px;
}

.basic-price-info h4 {
    color: #3b3663;
    font-family: "Nunito";
    font-weight: 700;
    font-size: 24px;
}

.price p {
    color: #f47a14;
    font-family: "Nunito";
    font-weight: 600;
    font-size: 40px;
    margin: 20px 0px;
}

.price-list ul {
    list-style: none;
}

.price-list ul li {
    color: #696687;
    font-family: "Rubik";
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.price-list ul li:hover {
    color: #f47a14;
}

button.price-btn {
    border: none;
    color: #fff;
    padding: 13px 40px;
    border-radius: 10px;
    background-image: linear-gradient(20deg, #ff841f 0%, #ff9721 57%) !important;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

button.price-btn:hover {
    background-image: linear-gradient(20deg, #ff9721 0%, #ff841f 57%) !important;
}

.rec-price {
    background-color: #3b3564;
}

.rec-price h4 {
    color: #fff;
}

.rec-price ul li {
    color: #fff;
}

.rec-price p {
    color: #fff;
}

/*blog css*/

.blog-col {
    float: left;
    width: 22%;
    margin-left: 3%;
    margin-top: 45px;
    overflow: hidden;
}


.blog-col span {
    color: #696687;
    font-size: 14px;
    font-family: "Nunito";
    font-weight: 400;
    padding: 20px 0px 6px 0px;
    display: inline-block;

}

.blog-col h3 {
    color: #696687;
    font-size: 19px;
    font-family: "Nunito";
    font-weight: 800;
    margin-top: 12px;
}


.blog-col a {
    color: #ff881f;
    font-size: 13px;
    font-family: "Rubik";
    font-weight: 600;
    text-decoration: none;
    margin-top: 25px;
    display: inline-block;
}

.blog-col a {
    color: #ff881f;
    font-size: 13px;
    font-family: "Rubik";
    font-weight: 600;
    text-decoration: none;
    margin-top: 25px;
    display: inline-block;
    position: relative;
    transition: all 0.5s ease;
}

.blog-col a:after {
    content: "\f178";
    font-family: "FontAwesome";
    margin-left: -14px;
    padding-left: 12px;
    transition: all 0.5s ease;
    visibility: hidden;
}

.blog-col a:hover:after {
    visibility: visible;
    margin-left: 14px;
}

section#blog {
    margin: 80px 0px;
}

.blog-col img {
    border-radius: 5px;
    transition: all 0.5s ease-in;
}

.blog-col img:hover {
    transform: scale(1.1, 1.1);
}

/*contact*/

#contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/prop.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0px;
}

section#uipathRibbon {
    background-color: #688a4b;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0px;

}

.form-par {
    background-image: linear-gradient(20deg, #ff841f 0%, #ff9721 57%);
    padding: 30px 40px;
    width: 50%;
    margin: 0 auto;
}

.uiPathUpper {
    background-color: #688a4b;
    width: 95%;
    padding: 0px 40px;
    margin: 0 auto;

}

.uiPathUpper h2 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: "Nunito";
    margin-bottom: 38px;
    margin-top: 38px;

}

.uiPathLower {
    background-color: white;
    width: 95%;
    padding: 0px 0px;
    margin-bottom: 38px;

}

@media screen and (max-width: 600px) {
    .uiPathUpper h2 {
        color: #fff;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        font-family: "Nunito";
        margin-bottom: 25px;
    }
}

.form-com {
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    padding: 10px 10px;
}

.form-par h2 {
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    font-family: "Nunito";
    margin-bottom: 25px;
}

.form-par h2 {
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    font-family: "Nunito";
    margin-bottom: 25px;
}

input.submit-btn {
    color: #fff;
    border: none;
    background-image: linear-gradient(180deg, #059DDE 0%, #1A2E84 100%);
    padding: 14px 40px;
    margin: 20px auto 0px;
    display: block;
    cursor: pointer;
    transition: all 0.5s ease;
}

input.submit-btn:hover {
    background-image: linear-gradient(180deg, #1A2E84 0%, #059DDE 100%);
}

.footer-col {
    float: left;
    width: 30%;
    margin-right: 3%;
    margin-top: 45px;
}

.footer-2-col {
    position: relative;
    left: 110px;
}

.footer-col h3 {
    color: #3b3663;
    font-family: "Nunito";
    font-weight: 800;
    margin-bottom: 20px;
}

.footer-col p {
    color: #696687;
    font-size: 16px;
    font-family: "Rubik";
    font-weight: 400;
    line-height: 28px;
}

.footer-col i {
    color: #fff;
    background-color: #ff881f;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 25px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.social-icons-footer i:hover {
    transform: translateY(-10px)
}

.footer-col.footer-2-col ul li {
    color: #696687;
    font-family: "Rubik";
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s ease;
}

.footer-col.footer-2-col ul li:hover {
    padding-left: 5px;
}

.footer-col.footer-2-col ul {
    list-style: none;
}

.footer-col a {
    color: #696687;
    text-decoration: none;
    padding-left: 10px;
}

.footer-col span {
    padding-left: 10px;
}

p.copyright-footer {
    text-align: center;
    font-family: "Rubik";
    padding: 20px 0px;
}

hr.footer-hr {
    margin: 60px 0px 20px;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 33%;
    padding: 0 10px;
    margin-top: 20px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: -10px -10px;
    /* margin: -10px 25px; */

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    padding: 44px;
    text-align: center;
    background-color: #ffffff;
}

.column h3 {
    color: #fe5000;
    font-size: 19px;
    font-family: "Nunito";
    font-weight: 800;
    float: left;
    margin-top: -5%;

}


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.advan p {
    color: #696687;
    font-size: 16px;
    line-height: 28px;
    font-family: "Rubik";
    font-weight: 400;
    padding: 13px;
    margin-bottom: 2%;
}


/*footer to be considered*/
footer {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 80px;
    background-color: #ffffff;
}


.wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrapper .footer-widget {
    width: calc(20% - 30px);
    margin: 0 15px 50px;
    padding: 0 12px;
}

.wrapper .footer-widget:nth-child(1) {
    width: calc(40% - 50px);
    margin-right: 15px;
}

.wrapper .footer-widget .logo {
    margin-bottom: 30px;
    vertical-align: middle;
}

.wrapper .footer-widget p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
}

.wrapper .footer-widget .socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.wrapper .footer-widget .socials li {
    list-style: none;
}

.wrapper .footer-widget .socials li a {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    color: #ffffff;
    background-color: rgba(3, 127, 243, 0.5);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
}

.wrapper .footer-widget .socials li a:hover {
    background-color: #037ef3;
}

.wrapper .footer-widget h6 {
    color: #585978;
    margin: 10px 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.wrapper .footer-widget .links li {
    list-style: none;
}

.wrapper .footer-widget .links li a {
    color: #585978;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 32px;
    transition: all 0.3s ease-out;
}

.wrapper .footer-widget .links li a:hover {
    color: #037ef3;
}

.copyright-wrapper {
    padding: 20px 0;
    border-top: 1px solid rgba(88, 89, 120, 0.4);
}

.copyright-wrapper p {
    color: rgba(88, 89, 120, 0.6);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.copyright-wrapper p a {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.copyright-wrapper p a:hover {
    color: #037ef3;
}

/* Let's write the media query */
@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }

    .wrapper .footer-widget,
    .wrapper .footer-widget:nth-child(1) {
        width: calc(50% - 30px);
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }

    .wrapper .footer-widget,
    .wrapper .footer-widget:nth-child(1) {
        width: 100%;
        margin: 0 10px 50px;
    }
}


/*Terms and conditions*/
.model-container-TC {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    transform: scale(0);
}

.model-container-TC .model {
    height: 610px;
    max-width: 1238px;
    margin-top: 100px ;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    position: relative;

}

.model-container-TC .model h5 {
    color: #3b3663;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;

}

.model-container-TC .model h6 {
    
    color: #000000;
    font-weight:bold;
    font-size: 13px;
    
    text-align: left;

}

.model-container-TC .model h2 {
    color: #3b3663;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 4px;
}


.model-container-TC .model p {
    font-family: 'Rubik';
    font-weight: 200;
    font-size: 12px;
    text-align: left;
}

.model-container-TC .model .fa-times {
    position: absolute;
    bottom: 0;
    top: 15px; right: 15px;
    font-size: 25px;
    cursor: pointer;
    color: #333;
}

.model-container-TC .model li {
    font-family: 'Rubik';
    font-weight: 200;
    font-size: 12px;
    text-align: left;
    margin-left: 2%;
}



/*Privacy policy*/
.model-container-PP {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    transform: scale(0);
}

.model-container-PP .model {
    height: 610px;
    max-width: 1238px;
    margin-top: 100px ;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    position: relative;

}

.model-container-PP .model h5 {
    color: #3b3663;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;

}

.model-container-PP .model h6 {
    
    color: #000000;
    font-weight:bold;
    font-size: 13px;
    
    text-align: left;

}

.model-container-PP .model h2 {
    color: #3b3663;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 4px;
}


.model-container-PP .model p {
    font-family: 'Rubik';
    font-weight: 200;
    font-size: 12px;
    text-align: left;
}

.model-container-PP .model .fa-times {
    position: absolute;
    bottom: 0;
    top: 15px; right: 15px;
    font-size: 25px;
    cursor: pointer;
    color: #333;
}

.model-container-PP .model li {
    font-family: 'Rubik';
    font-weight: 200;
    font-size: 12px;
    text-align: left;
    margin-left: 2%;
}


/*Warranty terms*/
.model-container-WT {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    transform: scale(0);
}

.model-container-WT .model {
    height: 610px;
    max-width: 1238px;
    margin-top: 100px ;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    position: relative;

}

.model-container-WT .model h5 {
    color: #3b3663;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;

}

.model-container-WT .model h6 {
    
    color: #000000;
    font-weight:bold;
    font-size: 13px;
    
    text-align: left;

}

.model-container-WT .model h2 {
    color: #3b3663;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 4px;
}


.model-container-WT .model p {
    font-family: 'Rubik';
    font-weight: 200;
    font-size: 12px;
    text-align: left;
}

.model-container-WT .model .fa-times {
    position: absolute;
    bottom: 0;
    top: 15px; right: 15px;
    font-size: 25px;
    cursor: pointer;
    color: #333;
}

.model-container-WT .model li {
    font-family: 'Rubik';
    font-weight: 200;
    font-size: 12px;
    text-align: left;
    margin-left: 2%;
}
